@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../templates/server.jpeg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 50px;
}

.form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-submit {
  background-color: grey;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 4px #000000;
}

.button-load {
  background-color: lightgray;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 4px #000000;
}
