<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 13.9</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
    <div class="container">
        <h1>Wgraj plik</h1>
        <form class="form-box" action="/upload" enctype="multipart/form-data" method="post">
            <input class="button-load" type="file" name="upload" multiple="multiple">
            <br>
            <input class="button-submit" type="submit" value="Wyślij">
        </form>
    </div>
</body>
</html>