<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Project 13.9</title>
    <link rel="stylesheet" type="text/css" href="../css/upload.css">
</head>
<body>
    <div class="container">
        <div class="gallery">
            <h3>Galeria obrazków</h3>
            <div class="container">
                <img src="/show" alt="">
            </div>
            <a class="button-back" href="http://localhost:9000/start">Dodaj kolejny plik</a>
        </div>
    </div>
</body>
</html>